body {
    font-family: 'Montserrat', sans-serif;
}


h1 {
    font-family: 'Montserrat', sans-serif;
}

.my_icon_color {
    color: red;
}

.my_margin_bottom {
    margin-bottom: 30px;
}

.my_img {
    height: 300px!important;
}


.btn-primary {
    background-color: blueviolet;
}

.jumbotron {
    background-color: aqua;
}

h1 {
    color: white!important;
}

.btn-info {
    background-color: orange;
}

.my-btn-info {
    background-color: deeppink;
}

.my_link:hover {
    text-decoration: none;
}

.my_link {
    color: red;
}

.general_spacing {
    margin-bottom: 100px;
}